### Part 1

In [2]:
import random
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

random.seed(2000)

This is the list of 10 items that all transactions consist of.

In [3]:
items = sorted(['Shampoo', 'Apple', 'Banana', 'Milk', 'Eggs', 'Soap', 'Bacon', 'Sugar', 'Water', 'Yogurt'])

In [4]:
def generate_database(items, filename):
    '''
    Creates database as pandas DataFrame and writes it to csv file
    Parameters:
        items (list): List of items that all customers are buying from
        filename (str): name of csv file you want to write to
    Returns:
        df (DataFrame): database of 20 transactions
    '''
    dataset = []
    for i in range(0, 20):
        j = random.randint(1, 10)
        transaction = random.sample(items, j)
        dataset.append(transaction)
    
    te = TransactionEncoder()
    te_ary = te.fit(dataset).transform(dataset)
    df = pd.DataFrame(te_ary, columns=te.columns_)
    
    # dict = {}
    # for item in items:
    #     values = [random.choice([True, False]) for i in range(20)]
    #     dict.update({item: values})
    # df = pd.DataFrame(dict)
    df.to_csv(filename)
    return(df)

In [6]:
generate_database(items, 'Database1.csv')
generate_database(items, 'Database2.csv')
generate_database(items, 'Database3.csv')
generate_database(items, 'Database4.csv')
generate_database(items, 'Database5.csv')

    Apple  Bacon  Banana   Eggs   Milk  Shampoo   Soap  Sugar  Water  Yogurt
0   False  False   False  False  False    False  False   True  False   False
1    True   True    True   True   True    False   True   True   True    True
2    True   True    True   True   True    False  False   True   True    True
3   False   True    True  False  False    False  False  False   True    True
4   False  False    True  False  False     True  False   True   True    True
5    True  False    True   True   True    False  False  False   True    True
6   False  False   False   True  False    False  False  False  False    True
7    True   True   False  False  False    False  False  False   True   False
8   False   True    True  False  False     True   True  False  False   False
9    True   True    True   True   True     True   True   True   True    True
10  False  False   False  False  False     True   True   True  False   False
11  False   True    True  False  False    False   True  False  False   False
12   True   True    True  False   True     True   True   True  False    True
13   True  False    True  False   True    False   True   True  False    True
14   True   True    True   True   True     True   True  False   True    True
15  False   True    True  False   True     True   True   True   True    True
16   True   True    True   True  False    False  False  False  False   False
17   True   True    True   True   True     True   True   True   True    True
18  False  False   False  False  False    False  False  False   True   False
19  False   True   False  False   True    False   True   True  False    True

In this database, the items are the columns, and the rows are the transactions. A True value indicates the items is part of the transaction, and a False value indicates the item is not part of the transaction.